[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
fastapi = "*"
uvicorn = "*"
python-decouple = "*"

[dev-packages]
ruff = "*"
black = "*"
pre-commit = "*"
types-requests = "*"

[requires]
python_version = "3.11"
python_full_version = "3.11.4"
